<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Родильный дом</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div class="navbar">
    <a href="/">Главная</a>
    <a href="/doctors">Коллектив</a>
    <a href="/patients" th:if="${not user.rolesAsString.contains('USER')}">Пациенты</a>
    <a href="/contact">Контакты</a>
    <form th:action="@{/logout}" method="post">
        <button type="submit">Выход</button>
    </form>
</div>

<div class="content">
    <h1>Добро пожаловать в наш родильный дом, <strong th:text="${user.username}"></strong>!</h1>
    <div class="user-info" th:if="${user}">
        <p>Роль: <strong th:text="${user.rolesAsString}"></strong></p>
    </div>
    <p>Приходите к нам рожать! Подготовка к беременности, ведение беременности с последующим родоразрешением и послеродовым наблюдением в одном учреждении!</p>
    <p>Мы предлагаем:</p>
    <ul>
        <li>Комплексное обследование супружеских пар перед зачатием (беременностью);</li>
        <li>Ведение беременности с любого срога с оформлением обменной карты;</li>
        <li>Ведение беременности с последующим родоразрешением одним врачом по желанию женщины;</li>
        <li>Заботу о маме и новорожденном в послеродовом периоде (консультация акушера-гинеколога, неонатолога, врачей-специалистов, проведение лабораторных и инструментальных исследований).</li>
    </ul>
    <p>Мы обеспечиваем будущим мамам безопасные мягкие роды в комфортной и доброжелательной обстановке.</p>
    <p>Для экстренного реагирования у нас развернуто отделение детской реанимации, есть отделение выхаживания недоношенных детей, а в недалеком будущем вступит в строй неонатальный корпус.</p>
    <p>За 40 лет работы в стенах нашего родильного дома на свет появилось более 320 000 детей — это население целого города!</p>
</div>

</body>
</html>
